// catppuccin mocha

overview {
	backdrop-color "#11111b" // crust
}

layout {
	background-color "#181825" // mantle
	insert-hint { color "#74c7ec80"; } // sapphire

	border {
		active-color "#b4befe" // lavender
		inactive-color "#45475a" // surface1
		urgent-color "#f38ba8" // red
	}

	focus-ring {
		active-color "transparent"
		// on inactive monitors
		inactive-color "#6c7086" // overlay0
	}

	shadow {
		color "#b4befe" // lavender
		inactive-color "transparent"
	}
}

recent-windows {
	highlight {
		active-color "#b4befed9" // lavender
		urgent-color "#f38ba8d9" // red
	}
}
