// catppuccin latte

overview {
	backdrop-color "#ccd0da" // surface0
}

layout {
	background-color "#e6e9ef" // mantle
	insert-hint { color "#209fb580"; } // sapphire

	border {
		active-color "#7287fd" // lavender
		inactive-color "#bcc0cc" // surface1
		urgent-color "#d20f39" // red
	}

	focus-ring {
		active-color "transparent"
		// on inactive monitors
		inactive-color "#9ca0b0" // overlay0
	}

	shadow {
		color "#7287fd" // lavender
		inactive-color "transparent"
	}
}

recent-windows {
	highlight {
		active-color "#7287fdd9" // lavender
		urgent-color "#d20f39d9" // red
	}
}
